<p id="notice"><%= notice %></p>

<p>
  <strong><%= @script.name %></strong>

</p>

<p>
  <strong>Description:</strong>
  <%= @script.description %>
</p>

<p>
  <strong>Status:</strong>
  <%= @script.status %>
</p>

<p>
  <strong>Context:</strong>
  <%= @script.context %>
</p>

<p>
  <strong>Version:</strong>
  <%= @script.version %>
</p>

<p>
  <strong>Owningapp:</strong>
  <%= @script.owningApp %>
</p>

<p>
  <strong>User:</strong>
  <%= @script.user_id %>
</p>

<%= link_to 'Edit', edit_script_path(@script) %> |
<%= link_to 'Back', scripts_path %>

<hr>
<h1>Add a step</h1>

<%= render 'steps/form' %>
<hr>

<h1>Steps</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Expectedoutcome</th>
    <th>Status</th>
    <th>Testuser</th>
    <th>Testdepartment</th>
    <th>Linkedissue</th>
    <th>Datetested</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @script.steps.each do |step| %>
<% if step.persisted? %>
  <tr>
    <td><%= step.name %></td>
    <td><%= step.description %></td>
    <td><%= step.expectedOutcome %></td>
    <td><%= step.status %></td>
    <td><%= step.testUser %></td>
    <td><%= step.testDepartment %></td>
    <td><%= step.linkedIssue %></td>
    <td><%= step.dateTested %></td>
    <td><%= link_to 'Show', [step.script, step] %></td>
    <td><%= link_to 'Edit', edit_script_step_path(step.script, step) %></td>
    <td><%= link_to 'Destroy', [step.script, step], method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
  <%end%>
<% end %>
</table>

<br />

<%= link_to 'New Step', new_script_step_path(@script.id) %>