<p id="notice"><%= notice %></p>
<p>Step for <%= @step.script.name %></p>
<p>
  <b>Name:</b>
  <%= @step.name %>
</p>

<p>
  <b>Description:</b>
  <%= @step.description %>
</p>

<p>
  <b>Expectedoutcome:</b>
  <%= @step.expectedOutcome %>
</p>

<p>
  <b>Status:</b>
  <%= @step.status %>
</p>

<p>
  <b>Testuser:</b>
  <%= @step.testUser %>
</p>

<p>
  <b>Testdepartment:</b>
  <%= @step.testDepartment %>
</p>

<p>
  <b>Linkedissue:</b>
  <%= @step.linkedIssue %>
</p>

<p>
  <b>Datetested:</b>
  <%= @step.dateTested %>
</p>



<%= link_to 'Edit', edit_script_step_path(@step.script, @step) %> |
<%= link_to 'Back', script_steps_path(@step.script) %>
